@font-face {
  font-family: Commissioner;
  font-style: normal;
  font-weight: 400;
  src: url('/src/assets/fonts/commissioner/Commissioner-Regular.woff2') format('woff2');
}

@font-face {
  font-family: Commissioner;
  font-style: normal;
  font-weight: 500;
  src: url('/src/assets/fonts/commissioner/Commissioner-Medium.woff2') format('woff2');
}

@font-face {
  font-family: Commissioner;
  font-style: normal;
  font-weight: 600;
  src: url('/src/assets/fonts/commissioner/Commissioner-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: Commissioner;
  font-style: normal;
  font-weight: 700;
  src: url('/src/assets/fonts/commissioner/Commissioner-Bold.woff2') format('woff2');
}

@layer base {
  h1,
  h2,
  h3 {
    letter-spacing: -0.01em;
  }

  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 1.875rem;
    font-weight: 600;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 500;
  }
}
