@font-face {
  font-family: Commissioner;
  src: url('/src/assets/fonts/commissioner/Commissioner-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Commissioner;
  src: url('/src/assets/fonts/commissioner/Commissioner-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Commissioner;
  src: url('/src/assets/fonts/commissioner/Commissioner-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Commissioner;
  src: url('/src/assets/fonts/commissioner/Commissioner-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

h1,
h2,
h3 {
  letter-spacing: -0.01em;
}
