@import 'tailwindcss';
@import './fonts.css';

:root {
  --background: #fff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  font-family: Commissioner, sans-serif;
  line-height: 1.6;
  letter-spacing: 0.01em;
  font-size: 16px;
}
